* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-image: url('./assets/Background.jpg');
  background-size: 100% 100%;
  background-position: bottom;
  transition: 0.4s ease-out;
}
